{% extends "base.html" %}

{% block title %}
    {{ song.title}}
{% endblock title %}

{% block content %}
<div class="container">
    <a href="/" class="btn btn-outline-primary"> Home page</a>
    <a href="{% url 'lyrics:delete_song' song.pk %}" class="btn btn-outline-danger"> Delete Song</a>
    <a href="{% url 'lyrics:show_playlist' %}" class='btn btn-outline-info' > back to playlist</a>
    <a href={% url 'lyrics:write_to_pdf' song.id%} class='btn btn-outline-info m-1'> Extract to pdf</a> 
    <h2 class=mb-3> {{ song.artist }} - {{song.title}} </h2>
        <textarea name="" id="" cols="60" rows="20">
            {{ song.lyrics }}
        </textarea>>
        
</div>
{% endblock content %}  